<head>
  <meta charset="utf-8">
  <title>Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  {% block head %}{% endblock %}
  </head>

  {% load bootstrap %}
{% block content %}
    <h3>{%block title%}{%endblock%}</h3>
    {% block question %}{% endblock %}

    <div class={% block grid %}"col-md-6"{% endblock %}>
        <form action="" method="post" role="form">
            {% csrf_token %}
            {% block form %}
                {{ form | bootstrap}}
            {% endblock %}
            {% block buttons%}
                {% include "_form_buttons.html" %}
            {% endblock %}
        </form>
    </div>

    {% block scripts %}{% endblock %}
{% endblock %}


